/* stylelint-disable */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');

/*
* Averta NoteHlp
*/
@font-face {
	font-family: 'Averta';
	src: url('../../fonts/averta/AvertaDemo-Regular.eot'); /* IE9 Compat Modes */
	src: local('Averta'), url('../../fonts/averta/AvertaDemo-Regular.svg');
	src: url('../../fonts/averta/AvertaDemo-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/averta/AvertaDemo-Regular.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/averta/AvertaDemo-Regular.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../../fonts/averta/AvertaDemo-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/averta/AvertaDemo-Regular.svg#AvertaDemo-Regular') format('svg'); /* Legacy iOS */
	font-style: normal;
}

@font-face {
	font-family: 'AvertaBold';
	src: url('../../fonts/averta/AvertaDemoPE-ExtraBold.eot'); /* IE9 Compat Modes */
	src: local('Averta'), url('../../fonts/averta/AvertaDemoPE-ExtraBold.svg');
	src: url('../../fonts/averta/AvertaDemoPE-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			 url('../../fonts/averta/AvertaDemoPE-ExtraBold.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../../fonts/averta/AvertaDemoPE-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
			 url('../../fonts/averta/AvertaDemoPE-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
			 url('../../fonts/averta/AvertaDemoPE-ExtraBold.svg#AvertaDemoPE-ExtraBold') format('svg'); /* Legacy iOS */
	font-style: normal;
}

/* H1, H2, H3, H4, H5, H6 */
h1 {
	font-family: var(--fourth-font);
	font-size: var(--size-12);
	color: var(--color-8);
	font-weight: 700;
	line-height: 1.1;

	@media (--small-up) {
		font-size: var(--size-13);
	}

	@media (--medium-up) {
		font-size: var(--size-14);
	}
}

h2 {
	font-family: var(--primary-font);
	font-size: var(--size-7);
	color: var(--color-5);
	font-weight: 400;
	line-height: 1.8;
}

h3 {
	font-family: var(--fourth-font);
	font-size: var(--size-11);
	color: var(--color-8);
	font-weight: 700;
	line-height: 1.1;
}

h4 {
	font-family: var(--primary-font);
	font-size: var(--size-8);
	color: var(--color-5);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	line-height: 1.8;
}

h5 {
	font-family: var(--secondary-font);
	font-size: var(--size-11);
	color: #39b1f0;
	font-weight: 300;
}
